.x-item-readonly-old {
    color: gray;
    cursor: default;
    opacity: .95;
    -moz-opacity: .95;
    filter: alpha(opacity=95);
}
 
.x-item-readonly-old * {
    color: gray !important;
    cursor: default !important;
}

.x-item-readonly {
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    overflow: hidden;
    color:blue;
}

.x-item-readonly-red {
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    overflow: hidden;
    font-weight:bold;
    color:red;
}
    
