body {
  margin : 0px;
  padding : 0px;
}

a {
  text-decoration : none;
  color : #003d76;
}


p.error {
  margin : 5px;
  padding : 5px;
  font-size : large;
  color : #F21;
}

h1 {
  width : 95%;
  font-size: xx-large;
  font-variant: small-caps;
  margin : 10px auto 10px auto;
}

h2 {
  width : 90%;
  font-size: x-large;
  font-variant: small-caps;
  margin : 10px auto 10px auto;
}

h3 {
  width : 90%;
  font-size: large;
  margin : 10px auto 10px auto;
}

p {
  margin : 10px;
  font-size: medium;
}

/*
td {
  border : 1px solid black;
}
*/

/* top header */

div.topUserShortcuts {
  float : left;
  font-size : small;
  border: 0px;
  padding : 1px;
}

div.topUserInfo {
  float : right;
  font-size : small;
  border: 0px;
  padding : 1px;
}

hr.pageHorizontalDelimiter {
  clear : both;
  border : 0px;
  width : 100%;
  height : 1px;
  color : #004080;
  background-color : #004080;
}

/* header */

table.header {
  width : 100%;   
  margin-bottom : 10px;
}

table.header td.headerSpacer{
  width : 100%;   
  font-size : xx-large;
  padding-left : 2%;
}

table.header img {
  height : 40px;
  width : auto;   
}

/*page table*/

table.menuBar {
  width : 97%;
  background: #fcfeff;
  margin-left : auto;
  margin-right : auto;
  margin-bottom : 10px;
  border : 1px solid #004080;
}

table.menuBar td.menuSection {
  border-right : 1px solid #004080;
} 

td.menuSection div.label {
 padding : 2px 20px 2px 20px;
}

td.menuSection div.selectedLabel {
 padding : 2px 20px 2px 20px;
 color : #ffa800;
}

table.menuBar td.menuSetup {
  text-align : right;
  width : 100% ;
  padding : 2px 10px 2px 20px;
}

table.menuBar td.menuSetupChoice {
  padding-right : 60px;
}

table.menuBar td.menuPath {
  border-top : 1px solid #004080;
  text-align : left;
  padding : 2px 0px 2px 30px;
  font-size: smaller;
}


/* Footer */

p.footer {
  text-align: center;
  font-size: xx-small;
}

.new-row {
  background-color : #ccc ! important;
  border solid #999 ! important;
  border-top-color:#ccc ! important;
}

/* By Matvey */
.my-disabled * {
  cursor:default ! important;
}
.pointer * {
  cursor:pointer ! important;
  cursor:hand ! important;
}
.columnSplitButton {
  background-image:url("../images/iface/columns.gif") !important;
}
.refreshSplitButton {
  background-image:url("../images/iface/refresh.gif") !important;
}
.Refresh {
  background-image:url("../images/iface/refresh.gif") !important;
}
.Save {
  background-image:url("../images/iface/save.gif") !important;
}
.Restore {
  background-image:url("../images/iface/reschedule.gif") !important;
}
.Add {
  background-image:url("../images/iface/advanced.gif") !important;
}
.Loading {
  background-image:url("../images/iface/loading.gif") !important;
}
.Act {
  background-image:url("../images/iface/gear.gif") !important;
}
.siteheader {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:21px;
  text-align:center;
}
#site-main-panel table.x-table-layout {
    width: 100%;
}
