@charset "utf-8";
.nodeDescriptionSM {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	margin: 0px;
	padding: 10px;
}
.nodeNameSM {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13pt;
	color: #8282A0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	margin: 10px;
	padding: 0px;
}
